* {
  box-sizing: border-box;
}

.mobileViewport {
  margin: auto;
  width: 480px;
  height: 1020px;
  background-color: rgb(164, 164, 190);
}

nav {
  background-color: blue;
  display: flex;

  flex-flow: row nowrap;
  justify-content: space-around;
}

nav > a {
  color: white;
  justify-content: center;
  text-decoration: none;
  flex-grow: 1;
  display: flex;

  padding: 10px 0px 10px 0px;
  font-size: 19px;
}

nav > a:hover,
a.active {
  background-color: aqua;
  color: black;
}

.aboutme {
  text-align: center;
  margin: 10%;
}

.lebenslauf {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

td {
  padding-bottom: 3%;
}

.kontakt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% 0% 10% 0%;
  gap: 3%;
}


/*Frage 1 : Break nutzen und wenn nicht alternative ?
  Frage 2 : Tabelle genutzt weil es mit der Flex-box zu kompliziert war GAP ? */
